@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  @apply w-[90%] mx-auto;
}

header {
  @apply bg-gray-500 w-full p-4;
}
