@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  @apply bg-gray-200;
}

header {
  @apply container w-full bg-white mt-4 py-4 rounded-full shadow-md;
}

input {
  @apply border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.card {
  @apply bg-white max-w-[380px] p-4 rounded-md shadow-md;
}

.card-blue {
  @apply bg-blue-500 max-w-[380px] p-4 text-white rounded-md shadow-md;
}

.container {
  @apply w-[90%] mx-auto;
}

.form-login {
  @apply w-full bg-gray-200 flex flex-col gap-2 mx-auto p-8 border border-gray-200 rounded shadow-md md:w-[420px];
}
